<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.peercast.pecaviewer">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
            android:name=".PecaViewerApplication"
            android:allowBackup="true"
            android:fullBackupContent="false"
            android:label="PecaViewer"
            android:supportsRtl="false"
            android:usesCleartextTraffic="true"
            android:icon="@drawable/ic_launcher"
            tools:ignore="GoogleAppIndexingWarning">

        <activity
                android:name=".MainActivity"
                android:windowSoftInputMode="adjustPan"
                android:theme="@style/AppTheme.NoActionBar"
                android:taskAffinity="org.peercast.pecaplay"
                android:exported="true"/>

        <service android:name=".service2.PecaViewerService" android:exported="false"/>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="org.peercast.pecaviewer.fileprovider"
                android:grantUriPermissions="true"
                android:exported="false">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/fileprovider_paths"/>
        </provider>

    </application>

</manifest>