<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.peercast.pecaviewer">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
            android:name=".PecaViewerApplication"
            android:allowBackup="true"
            android:fullBackupContent="false"
            android:label="PecaViewer"
            android:supportsRtl="false"
            android:usesCleartextTraffic="true"
            android:icon="@drawable/ic_launcher"
            tools:ignore="GoogleAppIndexingWarning">

        <service
                android:name=".service.PecaViewerService"
                android:exported="false">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService"/>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </service>
        <receiver android:name="androidx.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>

        <activity
                android:name=".MainActivity"
                android:launchMode="standard"
                android:windowSoftInputMode="adjustPan"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="pecaplay"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="mmsh"/>
                <data android:host="localhost"/>
                <data android:pathPattern="/stream/.*\.wmv.*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="http"/>
                <data android:host="localhost"/>
                <data android:pathPattern="/stream/.*\.flv.*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="http"/>
                <data android:host="localhost"/>
                <data android:pathPattern="/stream/.*\.mkv.*"/>
            </intent-filter>
        </activity>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="org.peercast.pecaviewer.fileprovider"
                android:grantUriPermissions="true"
                android:exported="false">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/fileprovider_paths"/>
        </provider>

    </application>

</manifest>